header{
    background-color: #0172bd;
    color: white;
}
h1 img{
    width: 60px;
    height: 70px;
    color: black;
}
#menu{
    margin-left: 70%;
}
#menu a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
#bannerimg{
    width: 100%;
}
#container p{
    position: absolute;
    top: 225px;
    font-size: xx-large;
    padding-left: 62px;
    font-style: italic;
}
#flexbox{
    display: flex;
    background-color: #0864a1;
}
.parabox{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 30%;
    color: white;
}
.parabox img{
    width: 100%;
}
.parabox button{
    width: 20%;
    height: 7%;
    border-radius: 20px;
    margin-left: 295px;
    background-color: rgb(228, 228, 50);

}
footer{
    background-color: #034570;
    width: 100%;
    height: 10%;
    padding-top: 10px;
    text-align: center;
    color: white;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button1{
    margin-top: 29px;
}
.button2{
    margin-top: 18px;
}
.expertise h1{
    text-align: center;
}
.expertise p{
    margin-left: 47px;
    margin-right: 23px;
    font-size: larger;
}
#container2{
    display: flex;
    margin-left: 45%;
}
#expertise{
    padding-left: 20px;
}
#office{
    padding-left: 35px;
}
#Services{
    padding-left: 32px;
}
#links{
   padding-right: 20px;
}
#main{
    margin-left: -74%;
    padding-right: 279px;
}
.fa:hover {
    opacity: 0.1;
}
.fa{
    padding: 3px;
    text-decoration: none;
        /*text-align: center;
    width: 15px

    font-size: 30px;
    /*margin: 5px 2px;*/
}
.fa-facebook {
    background: #3B5998;
    color: white;
    }
    .fa-twitter {
    background: #55ACEE;
    color: white;
    }
    .fa-google {
    background: #dd4b39;
    color: white;
    }
    .fa-instagram {
    background: #125688;
    color: white;
    }
    .fa-youtube {
    background: #bb0000;
    color: white;
    }